* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
    color: rgb(24, 23, 23);
    line-height: 1.9;
    background-color: rgb(224, 224, 224);
    font-size: 1.5rem;
}

.header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    height: 4.5rem;
    transition: all 0.3s;

    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;
}

.nav-link {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4rem;
}

.header-moto {
    margin-top: 8rem;
}

.header-description {
    padding-top: 1.2rem;
}

.highlight {
    position: relative;
}

.highlight::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-color: rgb(223, 121, 223);
}

.img_logo {
    width: 60px;
    border-radius: 400px;
    margin-right: 1.1rem;
}

.section {
    border-top: 1px solid rgb(214, 211, 211);
    padding: 6rem 5rem;
}

.section-title {
    margin: 2rem 10rem 10rem 12rem;
}

.section-name {
    color: #22c55e;
}

.section-description {
    font-size: 2.5rem;
}

/*Section 1 */

.dilna {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 10rem;
}

.section1-description {
    font-size: 1rem;
    padding-top: 1.7rem;
}

/*Section 2 */

.udrzitelnost {
    max-width: 100rem;
    margin: 12rem auto 0 auto;
    background-color: white;
}

.buttons-section2 {
    display: flex;
    justify-content: center;
    gap: 8rem;
    transform: translateY(-50%);
}

.content-section2 {
    display: flex;
    justify-content: center;
    padding: 4rem 7em;
}

.btn-section2 {
    display: flex;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border: 2px solid #15803d;
    background-color: #86efac;
    border-radius: 50px;
}

.btn-section2:hover {
    /*background-color: #22c55e;*/
    background-color: #fbbf24;
    border: 2px solid #d97706;
}

.btn-section2-active {
    transform: translateY(-30%);
    background-color: #fbbf24;
}
